@using PetShop.Models.Dtos
@model IEnumerable<AnimalDto>
@{
    ViewData["Title"] = "Animal Catalog";
}

<h1>Animal Catalog</h1>

<div class="container">
    <div class="dropdown mt-3 m-lg-3">

        <button class="btn btn-secondary dropdown-toggle" type="button"
                id="category-dropdown" data-bs-toggle="dropdown">
            Choose animal category
        </button>
        <ul class="dropdown-menu" aria-labelledby="category-dropdown" asp-items="ViewBag.Categories">
            <li><a class="dropdown-item" asp-controller="Catalog" asp-action="Index" asp-route-id="1">Mammals</a></li>
            <li><a class="dropdown-item" asp-controller="Catalog" asp-action="Index" asp-route-id="2">Aquatic</a></li>
            <li><a class="dropdown-item" asp-controller="Catalog" asp-action="Index" asp-route-id="3">Birds</a></li>
            <li><a class="dropdown-item" asp-controller="Catalog" asp-action="Index" asp-route-id="4">Reptiles</a></li>
            <li><a class="dropdown-item" asp-controller="Catalog" asp-action="Index" asp-route-id="5">Amphibians</a></li>
        </ul>
    </div>

   



    <table class="table table-hover table-dark table-bordered">
        <thead>
            <tr>
                <th>Photo</th>
                <th>@Html.DisplayNameFor(a => a.Name)</th>
                <th>@Html.DisplayNameFor(a => a.Age) (in years)</th>
                <th>Find out more and comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in Model)
            {
                <tr>
                    <td><img src="@animal.PhotoUri" alt="@animal.Name" class="img-thumbnail" /></td>
                    <td>@animal.Name</td>
                    <td>@animal.Age</td>
                    <td class="details-cell">
                        <a asp-controller="Catalog" asp-action="Details" 
                        asp-route-id="@animal.AnimalId" class="btn btn-outline-info">
                            Details
                        </a>
                    </td>


                </tr>
            }
        </tbody>
        
    </table>
    
</div>
  



